<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Приложение каталог{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
<style> body   footer { padding-top: 3rem; padding-bottom: 3rem; background-color: #028A38;  } </style>
</head>
<body>
{% load static %}
<nav>
    {% include 'header.html' %}
</nav>
<div class="container text-center ">
    {% block content %}

    {% endblock %}
</div>
{% include 'footer.html' %}
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
