{% extends 'base.html'%}
{% load my_tags %}
{% block title%}Каталог товаров{% endblock %}

{% load static %}
{% block content %}

<style>.publication-moderation {
    background-color: #068cd0;
    color: white;
}
.publication-approved {
    background-color: #288b0e;
    color: white;
}
.publication-need-fix {
    background-color: #ff6c0a;
    color: white;
}
.publication-rejected {
    background-color: #2e2e2e;
    color: white;
}
</style>

<div class="container mb-3">
    <h1>Каталог товаров </h1>

    {% if request.user.is_authenticated %}

    <a class="btn btn-lg btn-block btn-outline-success"
       href="/create_product/">Добавьте свой товар </a>

    {% else %}
    {% endif %}
</div>
<div class="row row-cols-md-3">
    {% for prod in product_list %}

    <div class="col-4 d-flex align-items-stretch">
        <div class="card w-100 mb-4 box-shadow">

            <div class="card-header">
                <h3 class="my-0 font-weight-normal">{{ prod.name }}</h3>

                {% if perms.catalog.redact_status_product or perms.blog.redact_status_blog %}
                <span class="badge rounded-pill float-end
                {% if prod.publication == 'moderation' %}
                publication-moderation
                {% elif prod.publication == 'approved' %}
                publication-approved
                {% elif prod.publication == 'need_fix' %}
                publication-need-fix
                {% elif prod.publication == 'rejected' %}
                publication-rejected
                {% endif %}">
                   {{ prod.get_publication_display }}
                </span>
                {% endif %}

            </div>

            <div class="card-body">
                <h4 class="card-title pricing-card-title">Цена: {{ prod.price }} р.</h4>
                <h6>Описание: {{ prod.description|truncatechars:100 }}.</h6>
                {% if request.user.is_authenticated %}
                <h6>Добавил: {{ prod.product_owner.username }}<br>{{ prod.created_at|date:'d M Y'}}.</h6>
                {% endif %}
                {% if prod.product_owner == request.user %}
                <h6 class="badge rounded-pill float-end
                {% if prod.publication == 'moderation' %}
                publication-moderation
                {% elif prod.publication == 'approved' %}
                publication-approved
                {% elif prod.publication == 'need_fix' %}
                publication-need-fix
                {% elif prod.publication == 'rejected' %}
                publication-rejected
                {% endif %}">{{ prod.get_publication_display }}</h6>
                {% endif %}

                {% if prod.image %}
                <img src="{{ prod.image|media_filter }}" style="width: 350px">
                {% else %}
                <img src="{% static 'images/no_image_product.png' %}" alt="..." class="img-fluid"/>
                {% endif %}
            </div>

            <div class="container mb-3">
                <a class="btn btn-lg btn-block btn-outline-info" href="/pay/">Купить</a>
                <a class="btn btn-lg btn-block btn-outline-success" href="/one_product/{{ prod.pk }}/">Подробно</a>
                <a class="btn btn-lg btn-block btn-outline-secondary" href="/sorry/">В корзину</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

