{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block title%}Каталог товаров{% endblock %}


{% block content %}
<h1>Каталог товаров </h1>
{% load static %}
<div class="row row-cols-md-3 ">
    {% for prod in product_list %}

    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal"> {{ prod.name}}</h3>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title">Цена: {{prod.price}} р.</h4>
                <h6> Описание: {{ prod.description | truncatechars:100}}.</h6>
                <h6> Добавлен: {{ prod.created_at | date:"d M Y" }}.</h6>
                <h6> Изменён: {{ prod.created_at | date:"d M Y" }}.</h6>

                {% if prod.image %}
                <img src="{{ prod.image | media_filter }}" style="width: 350px">
                {% else %}
                <img src="{% static 'images/no_image.png' %}" alt=" . . . " class="img-fluid"/>
                {% endif %}
                <div>
                <a class="btn btn-lg btn-block btn-outline-warning" href="/pay/">Купить</a>
                <a class="btn btn-lg btn-block btn-outline-info" href="/one_product/{{prod.pk}}/">Подробно</a>

            </div>
            </div>
        </div>
    </div>

    {% endfor %}
    {% endblock %}
</div>
