<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Приложение каталог{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>
<body>
{% load static %}
<nav>
    {% include 'catalog/header.html' %}
</nav>
<div class="container text-center ">
    {% block content %}
 <h2 class="md-5 text-center"> Главная страница пока в разработке!</h2>
    <h5 class="md-5 text-center"> Извините за неудобства!</h5>
    <div class="container">
    <img src="{% static 'images/sorry.png' %}" alt="Логотип" />
    {% endblock %}
</div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row text-center">
        <div class="col-6 col-md">
            Онлайн магазин
            <small class="d-block mb-3 text-muted">&copy; 2025</small>
        </div>


        <div class="col-6 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'catalog:contacts' %}">Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
