{% extends 'base.html'%}
{% load my_tags %}
{% block title%}Информация о товаре{% endblock %}
{% load static %}
{% block content %}
<h2>Подробное описание товара</h2>
{% if request.user.is_authenticated %}

{% else %}

{% endif %}
<div class="container text-center">
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal"> {{ product.name}}</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title">Цена:{{ product.price}} р.</h4>
                <h6> Описание:{{ product.description}}.</h6>
                <h6> Добавлен:{{ product.created_at | date:"d M Y" }}.</h6>
                <h6> Изменён:{{ product.created_at | date:"d M Y" }}.</h6>

                {% if product.image %}
                <img src="{{ product.image | media_filter }}" style="width: 550px">
                {% else %}
                <img src="{% static 'images/no_image_product.png' %}" alt=" . . . " class="img-fluid"/>
                {% endif %}
                <div class="container mb-3 py-3">
                    {% if request.user.is_authenticated and product.product_owner == request.user or perms.catalog.redact_status_product %}
                    <a class="p-1 btn btn-lg btn-block btn-outline-warning fixed-size-btn"
                       href="/update_product/{{product.pk}}">Редактировать</a>
                    <a class="p-1 btn btn-lg btn-block btn-outline-danger fixed-size-btn"
                       href="/delete_product/{{product.pk}}">Удалить</a>
                    {% else %}
                    <a class="p-1 btn btn-lg btn-block btn-outline-info fixed-size-btn"
                       href="/all_products">Назад</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</div>

{% endblock %}