{% extends 'base.html'%}
{% load my_tags %}
{% block title%}Редактировать продукт{% endblock %}
{% load static %}
{% block content %}
<h2>Редактировать продукт</h2>
<style>body   footer { padding-top: 3rem; padding-bottom: 3rem; background-color: #aab125;  } .fixed-size-btn {
    width: 150px;  height: 40px;
    display: inline-block;  line-height: normal;
    vertical-align: middle; text-align: center;
}
</style>


    <div class="container col-8">
       <div class="card-body text-white" style="background-color: #aab125;">
            <div class="card-header">
                <h3 class="my-0 font-weight-normal"> - - {{ product.name }} - - </h3>
            </div>
               <div class="container  text-center mb-3 py-3">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="p-2 btn btn-outline-light fixed-size-btn"  > Сохранить</button>
                    <a href="/one_product/{{product.pk }}/" class="p-2 btn btn-outline-warning fixed-size-btn">Отмена</a>
                </form>


            </div>
        </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</div>


{% endblock %}